<form class=".form-inline" action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=NodeBR', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
<fieldset>
  <h4><a href="http://feeds.feedburner.com/NodeBR/" rel="nofollow"><img src="{{ site.url }}/img/rss-feed.png" class="icon-feeds" /></a> Assine nosso Feed</h4>
  <div class="input-append">
    <input type="email" class="span2 input-small" name="email" placeholder="seu@email.com.br" required/>
    <input type="submit" value="Assinar" class="btn"/>
  </div>
  <p>
    <small>Receba os novos artigos por email.</small><br/>
    <small>Ou <a href="http://feeds.feedburner.com/NodeBR/" rel="nofollow">clique aqui e assine no seu leitor</a>.</small>
  </p>
  <input type="hidden" value="NodeBR" name="uri"/>
  <input type="hidden" name="loc" value="pt_BR"/>
</fieldset>
</form>
