<h4><img src="{{ site.url }}/img/twitter-icon.png" class="icon-twitter" /> Tweete nosso portal</h4>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nodebr.com" data-text="NodeBR - Comunidade brasileira de Node.js" data-lang="pt" data-hashtags="nodebr">Tweetar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
