<h4><i class="icon-share"></i> Compartilhe este post</h4>
<!-- Twitter tag. -->
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt">Tweetar</a>

<!-- Facebook tag. -->
<iframe src="http://www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}&;layout=standard&<br>
2.
show_faces=false&width=380&action=like&colorscheme=light&height=25&locale=pt_BR" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:25px;" allowTransparency="true"></iframe>

<!-- GooglePlus tag. -->
<div class="g-plusone" data-size="tall" data-annotation="inline" data-width="300"  data-href="{{ site.url }}{{ page.url }}"></div>