<h4><img src="{{ site.url }}/img/twitter-icon.png" class="icon-twitter" /> Compartilhe este post</h4>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="pt" data-hashtags="nodebr">Tweetar</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<iframe src="http://www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}&;layout=standard&<br>
2.
show_faces=false&width=380&action=like&colorscheme=light&height=25&locale=pt_BR" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:25px;" allowTransparency="true"></iframe>