<h4><i class="icon-share"></i> Compartilhe nosso portal</h4>

<!-- Twitter share button -->
<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://nodebr.com/" data-text="NodeBR - Comunidade brasileira de Node.js com tutoriais, dicas e truques em português." data-lang="pt" data-hashtags="nodebr,nodejs">Tweetar</a></p>

<!-- Facebook share button -->
<p><div class="fb-like" data-href="http://nodebr.com/" data-width="270" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div></p>

<!-- GooglePlus share button -->
<p><div class="g-plusone" data-size="small" data-annotation="inline" data-width="270" data-href="http://nodebr.com/"></div></p>