---
layout: page
title : Arquivo
group: nav
---
<section  class="post">
  <h1 class="page-header">{{ page.title }}</h1>
  <article class="content">
    {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture this_month %}{{ post.date | date: "%B" | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro' }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% capture next_month %}{{ post.previous.date | date: "%B" | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro' }}{% endcapture %}
    
      {% if forloop.first %}
        <h2>{{ this_year }}</h2>
        <h3>{{ this_month }}</h3>
        <ul>
      {% endif %}
    
      <li><span>{{ post.date | date: " %e-%m-%Y" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    
      {% if forloop.last %}
        </ul>
      {% else %}
        {% if this_year != next_year %}
          </ul>
          <h2>{{ next_year }}</h2>
          <h3>{{ next_month }}</h3>
          <ul>
        {% else %}    
          {% if this_month != next_month %}
            </ul>
            <h3>{{ next_month }}</h3>
            <ul>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    
  </article>
</section>