---
layout: default
---
<div class="container">
  <div class="row">
    <div class="span9">
      <section class="post">
        <h1 class="page-header">{{ page.title }}</h1>
        <article class="content">
          {{ content }}
        </article>
      </section>

      <nav class="pagination">
        <ul>
          {% if page.next %}
            <li class="next"><a href="{{ page.next.url }}" title="{{ page.next.title }}"><i class="icon-arrow-left"></i> Anterior</a></li>
          {% else %}
            <li class="next disabled"><a><i class="icon-arrow-left"></i> Anterior</a></li>
          {% endif %}
          <li><a href="{{ site.archive_path }}"><i class="icon-folder-open"></i> Arquivo</a></li>
          {% if page.previous %}
            <li class="prev"><a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Próximo <i class="icon-arrow-right"></i></a></li>
          {% else %}
            <li class="prev disabled"><a>Próximo <i class="icon-arrow-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>
      
      {% include comments.html %}
      
    </div>


    <aside class="span3 sidebar">
      <h3><i class="icon-time"></i> Publicado em</h3>
      <div class="date"><span>{{ page.date | date: " %e de %B de %Y" | replace: 'January', 'Janeiro' | replace: 'February', 'Fevereiro' | replace: 'March', 'Março' | replace: 'April', 'Abril' | replace: 'May', 'Maio' | replace: 'June', 'Junho' | replace: 'July', 'Julho' | replace: 'August', 'Agosto' | replace: 'September', 'Setembro' | replace: 'October', 'Outubro' | replace: 'November', 'Novembro' | replace: 'December', 'Dezembro' }}</span></div>
      
      {% unless page.tags == nil or page.tags == empty %}
        <h3><i class="icon-tags"></i> Tags</h3>
        <ul class="tag_box">
        {% for tag in page.tags %}
          <li><a href="{{ site.tags_path }}#{{ tag }}" class="label">{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
        {% endfor %}
        </ul>
      {% endunless %} 

      {% unless page.author == nil or page.author == empty  %}
        <h4>
        
        <i class="icon-user"></i> Autor 
        
        <span class="author-icons">
          {% unless page.author.email == nil or page.author.email == empty %}
            <a class="author-icon" href="mailto:{{ page.author.email }}"><i class="icon-envelope"></i></a>
          {% endunless %} 
          {% unless page.author.url == nil or page.author.url == empty %}
            <a class="author-icon" href="{{ page.author.url }}"><i class="icon-home"></i></a>
          {% endunless %} 
          {% unless page.author.github == nil or page.author.github == empty %}
            <a class="author-icon" href="https://github.com/{{ page.author.github }}" rel="nofollow"><img src="{{ site.url }}/img/github-icon.png" /></a>
          {% endunless %} 
          {% unless page.author.twitter == nil or page.author.twitter == empty %}
            <a class="author-icon" href="https://twitter.com/{{ page.author.twitter }}" rel="nofollow"><img src="{{ site.url }}/img/twitter-icon.png" /></a>
          {% endunless %} 
        </span>
        
        </h4>
        
        {% unless page.author.name == nil or page.author.name == empty %}
          <p>{{ page.author.name }}</p>
        {% endunless %}
        
      {% endunless %} 

      {% assign exist = false %}
      {% for post in site.related_posts %}
        {% unless exist %}
          {% assign exist = true %}
          <h4><i class="icon-thumbs-up"></i> Posts relacionados</h4>
          <ul>
        {% endunless %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>                     
      {% endfor %}
      {% if exist %}
        </ul>
      {% endif %}
    </aside>
  </div>
</div>